html,
body {
    min-height: 1000px;
    font-family: verdana, arial;
    font-size: 10px;
    color: #ddd;
    padding: 10px;
    margin: 0 auto;
    height: 100%;
    background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top, #222222 0%, #333333 42%, #0a0105 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(42%, #333333), color-stop(100%, #0a0105)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #222222 0%, #333333 42%, #0a0105 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #222222 0%, #333333 42%, #0a0105 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #222222 0%, #333333 42%, #0a0105 100%); /* IE10+ */
    background: linear-gradient(to bottom, #222222 0%, #333333 42%, #0a0105 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#0a0105', GradientType=0); /* IE6-9 */
    /*cursor:url(/gfx/my-cursor.png), auto !important;*/
}
canvas {
    background: #000;
    border: 1px solid #000;
}

label {
    display: inline-block;
    width: 140px;
}

td {
    padding: 0 10px;
}

input[type=range] {

}

input[type=number] {
    background: #222;
    color: #fff;
    font-size: 9px;
    padding: 1px;
    width: 50px;
    border: 1px dotted #777;
}

a {
    color: #eee;
}



output {
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
    background-image: -webkit-linear-gradient(top, #444444, #999999);
    background-image: -moz-linear-gradient(top, #444444, #999999);
    background-image: -ms-linear-gradient(top, #444444, #999999);
    background-image: -o-linear-gradient(top, #444444, #999999);
    width: 40px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
}
output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}

#holder {
    width: 250px;
    height: 250px;
    background: no-repeat center center;
    -webkit-background-size: 100%!important;
    -moz-background-size: 100%!important;
    -o-background-size: 100%!important;
    background-size: 100%!important;
}

textarea {
    width: 800px;
    height: 100px;
    background: #333;
    border: 1px solid #ddd;
    color: #999;
    padding: 5px;
    font-size: 11px;
}

.row {
    width: 350px;
}

.row:hover {
    background-color: #333;
}

.fail,
.success {
    color: #ddd;
    padding: 10px;
    margin: 10px 0;
}

.fail {
    border: 4px solid #880000;
    background: #220000;
}
.success {
    border: 4px solid #006600;
    background: #001100;
}
